<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="AzureTestDB"
        connectionString="Server=tcp:show-me.database.windows.net,1433;Database=show-me-db;User ID=show-me-admin@show-me;Password={Password};"
        providerName="System.Data.SqlClient" />

    <add name ="AzureListingsDB" 
         connectionString="Server=tcp:show-me-listings.database.windows.net,1433;Initial Catalog=Listings;Persist Security Info=False;User ID=show-me-admin;Password={Password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" 
          providerName="System.Data.SqlClient"/>

    <add name="AccessDB"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;
        Data Source=C:\Source\Repos\CustomerRecords\CustomerRecordsApp.Data\bin\NEW Staging DB.accdb;Persist Security Info=True"

        providerName="System.Data.OleDb" />

    <add name="AccessODBC"
         connectionString = "Driver={Microsoft Access Driver (*.mdb)};
         Dbq=C:\Source\Repos\CustomerRecords\CustomerRecordsApp.Data\bin\NEW Staging DB.accdb"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>